### remove redundant hidden folders ###
__pycache__
.ipynb_checkpoints

### remove redundant files ###
.pyc
.DS_Store
/apps/firefly_iii_db
.*  # ignore all hidden files and folders
!/.gitignore  # explicitly do not ignore .gitignore
